@page "/Movies"
@model HomeMovie.Pages.MoviesModel
@{
    ViewData["Title"] = "Posters";
}

<h1>Афиша</h1>

<div class="row">
     @foreach (var movie in Model._movies)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card-deck">
                <div class="card m-3">
                    <div class="card-header text-center">
                        <h3>@movie.Name</h3>
                    </div>
                    <div class="text-center">
                        <ul class="list-group">
                            <li class="list-group-item"><h4>Сеансы</h4></li>
                            @foreach(var _time in movie.Session)
                            {
                                <li class="list-group-item">@_time</li>
                                
                            }
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-page="/Details" asp-route-ID="@movie.Id" class="btn btn-success m-1">Детали</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>